@import "vars";


/*==========  Desktop First  ==========*/

// ≥1200px
@include media-breakpoint-down(lg) {
  .search{
    justify-content: center;
  }
  .search__input{
    width: 300px;
  }
  .contacts{
    margin-left: 30px;
  }
  .header-user__balance{
    margin-right: 0;
  }
  .menu-footer__col{
    margin-left: 80px;
    position: relative;
    &:first-child{
      margin-left: 0px;
    }
    &:last-child{
      margin-left: 80px;
    }
  }
  .payment{
    right: 0;
  }
  .follow__header{
    font-size: 22px;
  }
}

// ≥1024px
@include media-breakpoint-down(md) {
  header.header{
    padding: 5px;
  }
  .contacts{
    margin: 25px 0;
  }
  .burger{
    display: block;
  }
  .burger-menu{
    display: block;
    width: 41px;
    height: 41px;
  }
  .main-menu{
    flex-wrap: wrap;
    display: none;
    &.active{
      display: flex;
    }
    &__item{
      width: 100%;
      height: auto;
    }
    &__link:hover{
      background: $red;
    }
    .main-submenu{
      position: static;
      height: auto;
      padding-top: 10px;
      &__list{
        width: 100%;
      }
      &__item{
        width: 100%;
        text-align: center;
      }
    }
  }
  .search{
    &__input{
      width: 100%;
      margin-left: 40px;
    }
  }
  .header-top .phone-link{
    margin-left: 40px;
  }
  .icons-wrapper--header{
    justify-content: flex-end;
    .basket-link{
      margin-left: 40px;
    }
  }

/************sandwich styles*********/
  .sandwich {
    width: 41px;
    height: 41px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .sw-topper {
    position: relative;
    top: 0px;
    width: 41px;
    height: 2px;
    background: #fff;
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: transform 0.5s, top 0.2s;
    /* transition-delay: 0.2s, 0s; */
  }
  .sw-bottom {
    position: relative;
    width: 41px;
    height: 2px;
    top: 18px;
    background: #fff;
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: transform 0.5s, top 0.2s;
    transition-delay: 0.2s, 0s;
  }
  .sw-footer {
    position: relative;
    width: 41px;
    height: 2px;
    top: 36px;
    background: #fff;
    border: none;
    border-radius: 4px 4px 4px 4px;
    transition: all 0.5s;
    transition-delay: 0.1s;
  }
  .sandwich.active .sw-topper {
    top: 20px;
    transform: rotate(140deg);
  }
  .sandwich.active .sw-bottom {
    top: 17px;
    transform: rotate(-140deg);
  }
  .sandwich.active .sw-footer {
    opacity: 0;
    top: 0;
    transform: rotate(180deg);
  }
  /*main header*/
  .header-user{
    flex-wrap: wrap;
  }
  .header-user__info{
    width: 100%;
  }
  .header-user__info-new{
    width: 100%;
  }
  .header-user__prof-wrap {
    padding: 21px 21px 30px 18px;
    width: 320px;
    margin: 0 auto;
  }
  .header-user__info-wrap {
    background-repeat: no-repeat;
    background-position: right;
  }
  .footer{
    padding-left: 5px;
    padding-right: 5px;
  }
  .menu-footer__wrap{
    flex-wrap: wrap;
    justify-content: space-between;
    .menu-footer__col{
      width: auto;
      margin: 25px 0 30px 0;
      &:last-child{
        margin-left: 0px;
      }
    }
  }


}

// ≥768px
@include media-breakpoint-down(sm) {
  .logo{
    margin: 0 auto;
    display: flex;
    width: auto;
    justify-content: center;
    margin-bottom: 26px;
  }
  .search{
    width: 100%;
    &__input{
      width: 100%;
      margin-left: 0px;
    }
  }
  .header-top .phone-link{
    width: 100%;
  }
  .main-menu .main-submenu .main-submenu__window{
    display: none;
  }

  .icons-wrapper--header{
    justify-content: space-around;
  }

  .header-top .phone-link {
    width: auto;
  }
  .contacts{
    display: flex;
    justify-content: flex-end;
  }
  .advanteges-header{
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
  .advanteges-header__item{
    width: 100%;
    margin-top: 24px;
    padding: 0 10px;
  }
  .advanteges-header__link{
    display: block;
    width: 100%;
    position: relative;
    padding-left: 80px;
    img{
      position: absolute;
      left: 0;
    }
    &:first-child, &:last-child{
      margin: 0;
    }
  }
  .header-user__balance{
    margin-right: 0;
  }
  .footer{
    padding-left: 5px;
    padding-right: 5px;
  }
  .menu-footer__wrap{
    justify-content: space-between;
  }
}

// ≥576px
@include media-breakpoint-down(xs) {
  body{
    min-width: 100px;
  }
  .header-user__info{
    min-width: auto;
  }
  .header-user .header-user__head-text{
    font-size: 26px;
  }
  .header-user__prof-wrap{
    width: auto;
  }
  .header-user__order-num, .header-user__join-num{
    width: 100%;
    margin: 0 auto;
  }
  .header-user__order-wrap .header-user__confirm, .header-user__join-wrap .header-user__confirm{
    width: 100%;
    margin: 21px auto;
  }
  .menu-footer__wrap{
    display: block;
    .menu-footer__col{
      width: auto;
      margin: 25px 0 30px 0;
    }
  }
}


/*==========  Mobile First  ==========*/

// ≤576px
@include media-breakpoint-up(sm) {

}

// ≤768px
@include media-breakpoint-up(md) {

}

// ≤992px
@include media-breakpoint-up(lg) {

}

// ≤1200px
@include media-breakpoint-up(xl) {
	
}
