$default-font: "bpg-supersquare-2013", sans-serif;
$accent: orange;
$text: #333;

// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 0px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 420px, md: 768px, lg: 1024px, xl: 1200px);
$container-max-widths: (sm: 420px, md: 768px, lg: 1024px, xl: 1200px);

$gutter: $grid-gutter-width;

/***Custom vars***/
$accent: #235a90;
$green: #a7c363;
$red: #ff5d69;
$light-blue: #f0f3f5;
$gray: #f1f3f5;