@import "vars";
@import "fonts";
@import "libs";
@import "../img/sprites/sprite";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}
html, body{
	min-height: 100%;
	height: 100%;
}
body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	min-height: 100%;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	background-color: #f1f3f5;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}

b, strong {
	font-weight: bold;
}

/*user styles*/

header.header{
	background-color: $accent;
}
.header-top{
	padding-top: 23px;
	padding-bottom: 25px;
	align-items: center;
	.phone-link{
		padding-right: 21px;
	  	padding-left: 0;
	}
}
.search{
	display: flex;
	&__input{
		display: block;
		width: 460px;
		border: none;
		height: 41px;
		padding-left: 22px;
		&::placeholder{
			color: #858f92;
		}
	}
}
.phone-link{
	height: 41px;
	display: inline-flex;
	color: #fff;
	padding-right: 21px;
	align-items: center;
  	transition: all .1s;
	&:hover, &:active, &:focus{
		color: #fff;
		text-decoration: none;
	}
	&:before{
		content: "";
		display: block;
		@include sprite($phone);
		margin-right: 29px;
		margin-left: 16px;
	}
}
.icons-wrapper--header{
	display: flex;
	justify-content: space-around;
	height: 41px;
	font-size: 14px;
	.personal-link{
		color: #fff;
	  	transition: all .1s;
		&:before{
			content: "";
			display: block;
			@include sprite($user);
			margin: 0 auto;
			background-repeat: no-repeat;
		}
		&:active, &:hover, &:focus{
			color: #fff;
			text-decoration: underline;
		}
	}
	.basket-link{
		position: relative;
		color: #fff;
		&:before{
			content: "";
			display: block;
			@include sprite($cart);
			margin: 0 auto;
		}
		&:active, &:hover, &:focus{
			color: #fff;
			text-decoration: underline;
		}
		.item-counter{
			position: absolute;
			right: 0;
			top: 0;
			background-color: $red;
			border-radius: 50%;
			width: 16px;
			height: 16px;
			font-size: 10px;
			text-align: center;
			color: #fff;
		}
	}
}
.contacts{
	margin-left: 60px;
}
.burger{
	display: none;
}
.header-menu{
	display: block;
	width: 100%;
}
.main-menu{
	@extend .menu-ex;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	position: relative;
	&__item{
		text-align: center;
		height: 100%;
	  	&:last-child:hover{
		  margin-bottom: -5px;
		  display: block;
		  background-color: $red;
		}
		&:last-child a:hover,
		&:last-child a:active,
		&:last-child a:focus{
		  position: relative;
		  top: -3px;
		  background-image: url("../img/sale.png");
		  background-size: contain;
		  background-position: 100% 0;
		  background-repeat: no-repeat;
		  background-color: $red;
		}
	}
	&__link{
		display: block;
		padding-bottom: 16px;
		color: #ffffff;
		&:hover{
			color: #eee;
			text-decoration: none;
			background-image: linear-gradient(to top, rgba(242, 241, 244, 0.4), #235a90);
			height: 100%;
			overflow: hidden;
		}
	}

	.main-submenu {
		position: absolute;
	  	z-index: 3;
		height: 366px;
		left: 0;
		right: 0;
		width: 100%;
		background-color: #fff;
		text-align: left;
		padding: 53px 21px 28px 36px;
		display: none;
		justify-content: space-between;
		overflow: auto;
	  	box-shadow: -0.6px 5px 54px 0 rgba(66, 73, 79, 0.11);
		&__list{
			@extend .menu-ex;
			display: inline-flex;
			flex-direction: column;
			flex-wrap: wrap;
			align-items: flex-start;
			height: 100%;
			width: auto;
		}
		&__item{
			margin-right: 20px;
		}
		&__link{
		  	transition: all .5s;
			&:hover{
				color: $green;
			}
		}

		.main-submenu__window{
			height: 100%;
			width: 245px;
			min-width: 245px;
			overflow: hidden;
			margin-top: -15px;
			&-img{
				width: 245px;
				min-width: 245px;
				height: 256px;
				object-fit: cover;
				display: block;
			}
			&-text{
				font-size: 21px;
				text-align: left;
				color: $green;
				line-height: 1.25;
			}
		}
	}
}
.main-menu__item:hover > .main-submenu, .main-menu__item.active > .main-submenu{
	display: flex;
}
.header-main{
  background-color: $gray;
  padding-top: 20px;
 // padding-bottom: 41px;
  margin-bottom: 0;
}
.advanteges-header{
	display: flex;
	justify-content: space-around;
	margin: 0;
  	padding: 0;
	&__item{
		@extend .menu-ex;
	}
	&__link{
		display: flex;
		justify-content: space-around;
		align-items: center;
		font-size: 16px;
		line-height: 1.5;
		color: #225a90;
		&:first-child{
			margin-left: 48px;
		}
		&:last-child{
			margin-right: 48px;
		}
		&.advanteges-header__link--choise img{
			width: 38px;
			height: 40px;
			margin-right: 21px;
		}
		&.advanteges-header__link--delivery img{
			width: 48px;
			height: 38px;
			margin-right: 18px;
		}
		&.advanteges-header__link--payment img{
			width: 48px;
			height: 39px;
			margin-right: 22px;
		}
	}
}
.breadcrumbs{
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  margin-top: 48px;
  margin-bottom: 38px;
  &__item{
	padding: 0;
	display: flex;
	align-items: center;
	&:after{
	  content: "";
	  display: inline-block;
	  background-image: url("../img/icons/arrow-right-trans.png");
	  width: 6px;
	  height: 10px;
	  background-repeat: no-repeat;
	  background-size: contain;
	  margin-left: 5px;
	  margin-right: 5px;
	}
	&:last-child{
	  a{
		background-color: #d4dee8;
		color: $accent;
		padding-left: 3px;
		padding-right: 3px;
	  }
	  &:after{
		background-image: none;
	  }
	}
  }
  &__link{
	color: #858f92;
	font-size: 12px;
  }
}
.header-user{
  padding-bottom: 5px;
  background-color: #fff;
  margin-top: 45px;
  display: flex;
  box-shadow: -0.6px 5px 54px 0 rgba(66, 73, 79, 0.11);
  margin-bottom: 41px;
  &__picture{
	  display: flex;
	  position: relative;
	  width: 100%;
	  min-height: 538px;
	  background-size: cover;
	overflow: hidden;
	  .button-details{
		position: absolute;
		right: 21px;
		bottom: 27px;
		padding: 12px 42px;
		display: flex;
		line-height: 21px;
	  }
  }
  &__slider{
	width: 100%;
	height: 100%;
	height: 535px;
	img{
	  object-fit: cover;
	  display: block;
	  height: 100%;
	  width: 100%;
	  height: 535px;
	}
  }
  &__info{
	  width: 323px;
	  min-width: 323px;
  }
  .header-user__head-text{
	position: absolute;
	margin-top: 30px;
	background-color: rgba(255,255,255,.4);
	font-size: 60px;
	padding-left: 22px;
	line-height: 90px;
	color: $accent;
  }
  .slider_arrow_next{
	background-image: url("../img/icons/arrow-right.png");
	width: 50px;
	height: 50px;
	/* background: #f00; */
	display: block;
	position: absolute;
	z-index: 99;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
  }
  .slider_arrow_prev{
	  background-image: url("../img/icons/arrow-left.png");
	  width: 50px;
	  height: 50px;
	  /* background: #f00; */
	  display: block;
	  position: absolute;
	  z-index: 99;
	  top: 50%;
	  transform: translateY(-50%);
	}
  &__info{
	display: block;
	padding: 0;
	background-color: #fff;
	height: 535px;
  }
  &__info-wrap{
	background-color: $gray;
	padding: 0  0 17px 17px;
	background-image: url("../img/form-bg.png");
  }
  &__logout{
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  &__greetng-text{
	width: 100%;
	color: $accent;
  }
  &__logout-btn{
	border: none;
	display: flex;
	height: 31px;
	width: 31px;
	min-width: 31px;
	background-image: url("../img/icons/logout.png");
	align-items: center;
	justify-content: center;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #d1d9df;
  }
  &__user-name{
	display: block;
	margin-top: 15px;
	font-size: 24px;
	color: #a7c363;
	margin-bottom: 29px;
  }
  &__button-wrap{
	display: flex;
	align-items: center;
	margin-bottom: 25px;
  }
  &__detail-btn, &__orders-btn{
	border: none;
	border-radius: 2px;
	background-color: #d4dee8;
	font-size: 10px;
	color: $accent;
	font-weight: bold;
	margin-right: 5px;
	&:active, &:focus{
	  outline: 0;
	}
  }
  &__detail-text, &__orders-text{
	font-size: 10px;
	line-height: 1.5;
	color: #858f92;
  }

  &__balance{
	display: flex;
	margin-right: -17px;
	justify-content: space-between;
  }
  &__balance-info{
	width: 34%;
  }
  &__balance-count{
	display: flex;
	align-items: center;
	width: 170px;
	background-image: linear-gradient(to left, #f0f3f5, #a7c363);
	height: 40px;
	img{
	  margin-left: 9px;
	}
  }
  &__balance-info-header{
	display: block;
	width: 100%;
	font-size: 11px;
	font-weight: bold;
	color: $accent;
  }
  &__balance-info-date{
	font-size: 9px;
	color: #3f4345;
	line-height: 12px;
	display: block;
  }
  &__balance-int{
	font-size: 24px;
	padding-top: 6px;
	display: flex;
	align-items: center;
	color: #fff;
	font-weight: bold;
	opacity: 0.8;
	margin-left: 9px;
  }
  &__prof-wrap{
	padding: 21px 21px 30px 18px;
  }
  &__autorisation{
	display: flex;
	height: 40px;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 21px;
	.header-user__autorisation-enter{
	  display: flex;
	  background-color: #235a90;
	  color: #fff;
	  padding: 0 21px;
	  align-items: center;
	}
  }
  &__autorisation-profile{
	display: flex;
	align-items: flex-end;
	margin-right: 23px;
	height: 40px;
	font-size: 14px;
	padding-bottom: 4px;
	color: $accent;
	&:before{
	  content: "";
	  display: block;
	  @include sprite($key);
	  margin-right: 14px;
	}
  }
  &__order-wrap,&__join-wrap{
	border-top: 1px solid #f0f3f5;
	padding-top: 10px;
	.header-user__confirm{
	  background-color: $accent;
	  width: 282px;
	  text-align: center;
	  margin-top: 22px;
	  margin-bottom: 29px;
	}
  }
  &__order-text, &__join-text{
	display: flex;
	font-size: 14px;
	align-items: flex-end;
	color: $accent;
	margin-bottom: 18px;
	&:before{
	  content: "";
	  display: block;
	  @include sprite($delivery);
	  margin-right: 14px;
	}
  }
  &__join-text:before{
	content: "";
	display: block;
	@include sprite($subscribe);
	margin-right: 14px;
  }
  &__order-num, &__join-num{
	display: block;
	width: 282px;
	height: 40px;
	border: solid 1px #e8ecef;
	padding-left: 21px;
	&::placeholder{
	  font-size: 12px;
	  color: #858f92;
	}
  }

}
.header-user__info-new{
  width: 323px;
  padding-right: 21px;
  height: 535px;
  .header-user__info-wrap{
	background-color: #fff;
	background-image: none;
  }
  .header-user__registration-data{
	display: block;
	.header-user__registration-header{
	  padding-top: 14px;
	  &:before{
		content: "";
		display: block;
		background-image: url("../img/icons/user2.png");
		width: 21px;
		height: 26px;
		margin-right: 22px;
	  }
	}
  }
  .header-user{
	&__registration-header{
	  font-size: 14px;
	  color: $accent;
	  display: flex;
	}
	&__registration-name, &__registration-mail{
	  width: 282px;
	  height: 40px;
	  border: 1px solid #e8ecef;
	  margin: 0;
	  margin-right: 40px;
	  display: block;
	  margin-top: 20px;
	  padding-left: 21px;
	  &::placeholder{
		font-size: 12px;
		color: #858f92;
	  }
	}
	&__registration-btn-wrap{
	  margin-top: 20px;
	  display: flex;
	  justify-content: space-between;
	  align-items: center;
	}
	&__registration-pass-rec{
	  font-size: 11px;
	  color: $accaunt;
	}
	&__registration-sing-in{
	  width: 149px;
	  background-color: $accent;
	}
	&__order-text{
	  margin-bottom: 12px;
	}
  }
  .header-user__join-wrap .header-user__confirm{
	margin-top: 0;
  }
  .header-user__prof-wrap{
	padding-top: 0;
  }

  .header-user__registration-mail{
	margin-top: 10px;
  }
  .header-user__registration-name{
	margin-top: 10px;
  }
}
//********************************************************header-user

//header-item********************************************************
.header-item{
  height: 540px;
  background-color: #fff;
  display: flex;
  box-shadow: -0.6px 5px 54px 0 rgba(66, 73, 79, 0.11);
  margin-bottom: 41px;
  &__slider-wrap{
	width: 505px;
	min-width: 505px;
	height: 100%;
	position: relative;
	padding-bottom: 82px;
	padding-top: 26px;
	padding-left: 26px;
  }
  &__main-pic{
	width: 100%;
	height: 100%;
	padding: 21px;
	img{
	  height: 100%;
	  width: 100%;
	  display: block;
	  object-fit: contain;
	}
  }
  &__slider{
	margin: 0;
	padding: 0;
	display: flex;
	height: 82px;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	list-style-type: none;
	&-slide{
	  height: 82px;
	  max-width: 82px;
	  padding-right: 3px;
	  border: 1px solid #d7dee3;
	  &:last-child{
		margin-right: 0;
	  }
	  &.bordered{
		border: 2px solid $accent;
	  }
	}
	.slick-prev, .slick-next{
	  background-color: #fff;
	  opacity: .8;
	}
	.slick-prev {
	  left: 0;
	  z-index: 999;
	  width: 35px;
	  height: 100%;
	  &:before{
		content: '';
		background-image: url("../img/icons/arrow-left-trans.png");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		display: block;
		width: 49px;
		height: 49px;
	  }
	}
	.slick-next{
	  right: 0;
	  z-index: 999;
	  width: 35px;
	  height: 100%;
	  &:before{
		background-position: 0 50%;
		content: '';
		background-image: url("../img/icons/arrow-right-trans.png");
		background-repeat: no-repeat;
		background-position: 50% 50%;
		display: block;
		width: 49px;
		height: 49px;
	  }
	}
	.slick-disabled{
	  opacity: 0;
	  display: none;
	}
	&-img{
	  display: block;
	  height: 100%;
	  width: 100%;
	  object-fit: contain;
	}
  }

  &__info{
	width: 100%;
	padding-left: 26px;
	padding-top: 26px;
	padding-right: 203px;
	padding-bottom: 82px;
	position: relative;
	border-left: 1px solid #d7dee3;
  }
  &__name{
	font-size: 24px;
	color: $accent;
	line-height: 24px;
	margin-bottom: 50px;

  }
  &__code{
	font-size: 14px;
	margin-bottom: 21px;
  }
  &__parameters{

  }
  &__info-panel{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 82px;
	display: flex;
	justify-content: space-between;
	left: 0;
	padding-left: 26px;
	align-items: center;
	border-top: 1px solid #d7dee3;
	border-bottom: 1px solid #d7dee3;
	.header-item__info-price{
	  width: 100%;
	  font-size: 24px;
	  letter-spacing: 0.2px;

	  .header-item__info-price--new{
		color: #a7c363;
	  }
	  .header-item__info-price--old{
		color: #858f92;
		position: relative;
		font-weight: normal;
		&:after{
		  content: "";
		  position: absolute;
		  top: 50%;
		  height: 2px;
		  width: 100%;
		  background-color: #858f92;
		  left: 0;
		}
	  }
	}
	.header-item__info-counter{
	  width: 20px;
	  height: 100%;
	  position: relative;
	  min-width: 60px;
	  border: 1px solid #d7dee3;
	  border-bottom: none;
	  border-top: none;
	  display: flex;
	  align-items: center;
	  .header-item__info-counter-in{
		height: 30px;
		width: 60px;
		padding-left: 5px;
		padding-right: 5px;
		text-align: center;
		border: none;
		color: #3f4345;
		font-size: 16px;
	  }
	  .header-item__info-counter-plus,.header-item__info-counter-minus{
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		background: transparent;
		border: none;
		width: 18px;
		height: 11px;
		background-repeat: no-repeat;
		&:active, &:focus{
		  outline: 0;
		}
	  }
	  .header-item__info-counter-plus{
		top: 6px;
		background-image: url("../img/icons/arrow-up.png");
	  }
	  .header-item__info-counter-minus{
		bottom: 6px;
		background-image: url("../img/icons/arrow-down.png");
	  }
	}
	.header-item__add{
	  height: 100%;
	  background-color: $accent;
	  color: #ffffff;
	  display: flex;
	  align-items: center;
	  min-width: 203px;
	  &:before{
		content: "";
		display: inline-block;
		background-image: url("../img/icons/cart.png");
		width: 25px;
		height: 26px;
		margin-right: 34px;
	  }
	}
  }

  &__notes{
	position: absolute;
	right: 0;
	top: 0;
	max-width: 203px;
	.header-item__notes-delivery{
	  background-image: url("../img/icons/delivery-bg.png");
	  display: block;
	  height: 80px;
	  padding: 15px 11px;
	  color: #fff;
	  font-size: 16px;
	  margin-bottom: 1px;
	  background-repeat: no-repeat;
	}
	.header-item__notes-sale{
	  display: block;
	  padding: 0 11px;
	  color: #fff;
	  font-size: 16px;
	  line-height: 40px;
	  margin-bottom: 3px;
	  background-image: url("../img/icons/sale-bg.png");
	  background-repeat: no-repeat;
	  background-size: contain;
	  background-position: 0 0;
	}
  }
}
//***************************************************************hedaer
.articles, .items, .offers, .your-shoppings, .recomends-item{
  padding-top: 51px;
  background-color: #fff;
  padding-bottom: 40px;
}
.articles-wrap{
  display: flex;
  margin-top: 34px;
  justify-content: space-between;
}
.article{
  border: solid 1px #e8ecef;
  width: 363px;
  height: 480px;
  position: relative;
  transition: all .5s;
  &:hover{
	box-shadow: -0.6px 5px 54px 0 rgba(66, 73, 79, 0.11);
  }
  &__picture-wrap{
	max-width: 363px;
	height: 220px;
  }
  &__info-wrap{
	padding-left: 13px;
	padding-right: 13px;
  }
  &__picture{
	display: block;
	object-fit: cover;
	height: 100%;
	width: 100%;
  }
  &__title{
	color: $accent;
	font-size: 24px;
	margin-bottom: 21px;
	margin-top: 23px;
	line-height: 24px;
	font-weight: normal;
  }
  &__short-description{
	font-size: 16px;
	line-height: 24px;
  }
  .button-shop-now{
	background-color: $accent;
	width: 149px;
	bottom: 22px;
	left: 13px;
	position: absolute;
	transition: all .5s;
	&:hover, &:active{
	  color: $green;
	}
  }
}
//****************************************************************************************specefication
.specefication{
  background-color: #fff;
  padding-top: 45px;
  width: 100%;
  padding-left: 22px;
  padding-right: 22px;
  .articles-header-wrap{
	width: 100%;
  }
  .articles-header{
	font-size: 24px;
	color: $accent;
	border-bottom: 2px solid $accent;
  }
  .articles-header-wrap .header-border {
	height: 2px;
	background: #e8ecef;
	width: 100%;
	position: absolute;
	bottom: 0px;
  }
  &__list{
	display: block;
	margin: 0;
	padding: 0;
	width: 100%;
  }
  &__item{
	display: flex;
	margin: 0;
	padding: 0;
	align-items: baseline;
	color: #3f4345;
	font-size: 14px;
	margin-top: 25px;
	margin-bottom: 25px;
  }
  &__param{
	color: #3f4345;
	padding-right: 8px;
  }
  .dashed-line{
	width: 100%;
	display: block;
	height: 1px;
	border-bottom: 1px dashed #d7dee3;
  }
  &__val{
	color: #3f4345;
	padding-left: 8px;
  }
}
.your-shoppings, .recomends-item{
  background-color: #fff;
  .show-all{
	margin: 41px auto;
	height: 40px;
	padding-left: 29px;
	padding-right: 29px;
	display: block;
	background-color: $accent;
	padding-bottom: 40px;
  }
}
//*****************************************************************************************item
.item{
  max-width: 263px;
  height: 460px;
  border: solid 1px #f0f3f5;
  position: relative;
  overflow: hidden;
  transition: all .3s;
  &:hover{
	box-shadow: -0.6px 5px 54px 0 rgba(66, 73, 79, 0.11);
  }
  &__picture-wrap{
	position: relative;
	width: 253px;
	height: 259px;
	display: flex;
	align-items: center;
	justify-content: center;
  }
  &__title{
	font-size: 14px;
	text-align: center;
	color: #3f4345;
	font-weight: normal;
	//text-shadow: 0.2px 0.2px 0 rgba(0,0,0,.7);
	margin: 0;
	margin-top: 25px;
  }
  &__picture{
	display: block;
	max-width: 100%;
	object-fit: contain;
  }
  &__tools{
	position: absolute;
	left: 0;
	top: 20px;
	color: #fff;
	font-size: 14px;
	.item__tool{
	  width: 100%;
	  height: 100%;
	  margin-bottom: 5px;
	  padding: 1px 10px;
	  background-color: #ef4e4e;
	  &:last-child{
		margin-bottom: 0;
	  }
	}
  }
  &__info-wrap{
	padding-left: 15px;
	padding-right: 15px;
  }
  &__price-wrap{
	display: flex;
	justify-content: center;
	align-items: center;
  }
  &__price,&__actual-price,&__old-price{
	font-size: 24px;
	line-height: 1;
	color: #225a90;
	margin-top: 21px;
  }
  &__actual-price{
	margin-right: 5px;
	color: #ef4e4e;
  }
  &__old-price{
	color: #b4bfc9;
	position: relative;
	&:after{
	  content: "";
	  display: block;
	  position: absolute;
	  height: 2px;
	  background: #b4bfc9;
	  top: 46%;
	  line-height: 1em;
	  width: 100%;

	}
  }
  .button-item-add{
	background-color: $accent;
	width: 222px;
	height: 40px;
	position: absolute;
	bottom: 20px;
	left: 50%;
	transform: translateX(-50%);
	transition: all .5s;
	color: #fff;
	&:before{
	  content: "";
	  display: block;
	  background-image: url("../img/icons/cart.png");
	  background-repeat: no-repeat;
	  width: 25px;
	  height: 26px;
	  position: absolute;
	  top: 50%;
	  left: 19px;
	  transform: translateY(-50%);
	}
	&.active{
	  background-color: $green;
	}
  }
}
//*********************************************************************************************filter
.catalog{
  display: flex;
  background-color: #f0f3f5;
}
.catalog-wrap{
  display: flex;
}
.filter{
  width: 25%;
  min-width: 288px;
  height: 100%;
  //background-color: #9f0a0a;
  padding-right: 24px;
  &__header{
	font-size: 24px;
	letter-spacing: 0.2px;
	color: $accent;
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	&:after{
	  content: '+';
	  display: block;
	  width: 24px;
	  text-align: center;
	}
	&.active {
	  &:after {
		content: '-';
	  }
	}
  }
  &__category-name{
	color: $green;
	font-size: 12px;
	padding: 10px;
	padding-left: 0;
	padding-right: 0;
	margin-right: 10px;
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
	&:after{
	  content: '+';
	  font-size: 24px;
	  color: $accent;
	  width: 24px;
	  text-align: center;
	}
	&.active {
	  &:after {
		content: '-';
		color: $accent;
	  }
	}
  }
  &__section{
	margin-bottom: 41px;
  }
  &__block{
	display: none;
  }
  &__list{
	margin: 0;
	padding: 0;
	font-size: 12px;
	color: #3f4345;
	list-style-type: none;
	display: none;
  }
  &__list-label{
	display: flex;
	align-items: center;
	input[type='checkbox']{
	  display: block;
	  margin-right: 2px;
	  width: 11px;
	  height: 9px;
	  background-color: #ffffff;
	  border: solid 1px #e8ecef;
	}
	.filter__price-min, .filter__price-max{
	  width: 50%;
	  display: block;
	  max-width: 110px;
	  height: 40px;
	  padding-left: 13px;
	  &::placeholder{
		font-size: 12px;
		color: #858f92;
	  }
	}
	.filter__price-max{
	  margin-left: 10px;
	}
	.filter__price-min{
	  margin-right: 10px;
	}
  }
  &__list-diapason{
	margin-top: 28px;
  }
  &__list-item{
	margin: 0;
	padding: 0;

  }
  .advertising{
	margin-top: 100px;
	width: 100%;
	.advertise{
	  display: block;
	  margin-bottom: 21px;
	}
	img{
	  display: block;
	  object-fit: contain;
	  width: 100%;
	}
  }
}

//**********************************************************************************************item catalog
.items-catalog{
  background-color: #fff;
  width: 100%;
  box-shadow: -0.6px 5px 54px 0 rgba(66, 73, 79, 0.11);
  &__wrap{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
  }
  .panel-nav{
	margin-right: 20px;
  }
  .articles-header-wrap{
	margin-top: 30px;
	margin-left: 20px;
	margin-right: 20px;
	.show-line{
	  background-image: url("../img/icons/stripes.png");
	  background-size: cover;
	  margin-right: 5px;
	}
	.show-square{
	  background-image: url("../img/icons/squeres.png");
	  background-size: cover;
	}
  }
  .pagination{
	li {
	  margin-right: 5px;
	  a{
		color: #858f92;
		font-size: 14px;
		display: block;
		letter-spacing: 0.1px;
	  }
	  &.active a{
		color: $green;
		text-decoration: underline;
	  }
	}
  }
  .item{
	margin: 20px;
	a:hover{
	  text-decoration: none;
	}
  }
  .pagenav{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	border-bottom: 1px solid $green;
	margin-left: 20px;
	margin-right: 20px;
	width: auto;
	margin-bottom: 120px;
	max-height: 40px;
  }
  .pagenav__wrap{
	display: flex;
	align-items: flex-end;
  }
  .pagination{
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
  }

  .articles-header-wrap .slick-panel{
	width: auto;
	.sort-block{
	  .text{
		color: #3f4345;
		font-size: 14px;
	  }
	  .select-wrap{
		display: inline-flex;
		height: 100%;
		align-items: center;
		margin-right: 10px;
	  }
	  .select{
		display: inline-flex;
		align-items: center;
		width: 16px;
		height: 16px;
		background-size: contain;
		margin-bottom: 0;
		margin-left: -18px;
		background-color: #fff;
	  }
	  select{
		border: none;
		color: $green;
		font-size: 14px;
		position: relative;
		background-color: transparent;
		padding-right: 22px;
		&:active, &:focus{
		  outline: 0;
		}
	  }
	  option{
		display: block;
		min-height: 20px;
		font-size: 21px;
	  }
	}
  }
}
.items-catalog__wrap.line-view{
  display: block;
  .item__price-wrap{
	justify-content: flex-start;
  }
  .item__picture-wrap{
	min-width: 253px;
	margin-top: 10px;
	margin-bottom: 10px;
	img{
	  min-width: 100%;
	}
  }
  .item{
	max-width: 100%;
	height: auto;
	a{
	  display: flex;
	}
  }
}
//**********************************************************************************************item catalog
.wrapper{
	min-height: 100%;
	padding-bottom: 694px;
}
.footer{
  margin-top: -694px;
  min-height: 694px;
  position: relative;
  padding-bottom: 48px;
}
.follow{
  padding-right: 47px;
  &__header{
	display: flex;
	font-size: 24px;
	color: #225a90;
	align-items: baseline;
	margin-top: 40px;
	&--mail{
	  &:before{
		margin-right: 15px;
		content: "";
		display: block;
		background-image: url("../img/icons/mail.png");
		width: 51px;
		height: 40px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom;
	  }
	}
	&--blog{
	  &:before{
		margin-right: 15px;
		content: "";
		display: inline-block;
		background-image: url("../img/icons/blog.png");
		width: 50px;
		height: 40px;
		background-size: contain;
		background-repeat: no-repeat;
		background-position: bottom;
	  }
	}
	&--fb{
	  &:before{
		margin-right: 15px;
		content: "";
		display: inline-block;
		background-image: url("../img/icons/fb.png");
		width: 21px;
		height: 40px;
		background-size: contain;
		background-repeat: no-repeat;
	  }
	}
  }

  &__text{
	margin-top: 24px;
  }
  .follow__input{
	width: 100%;
	margin: 0;
	padding-left: 8px;
	height: 41px;
  }
  &__panel{
	display: flex;
	justify-content: flex-start;
	margin-top: 33px;
  }
  .follow__mail-subscribe{
	min-width: 134px;
	background-color: $accent;
  }
}
.menu-footer__wrap{
  display: flex;
  margin-top: 61px;
  .menu-footer__head{
	font-size: 24px;
	color: #225a90;
	margin-bottom: 24px;
	font-weight: normal;
  }
  .menu-footer__list{
	@extend .menu-ex;
  }
  .menu-footer__col .menu-footer__list-register{
	margin-top: 50px;
  }
  .menu-footer__link{
	font-size: 14px;
	color: #3f4345;
  }
  .menu-footer__col{
	margin-left: 150px;
	position: relative;
	&:first-child{
	  margin-left: 0px;
	}
	&:last-child{
	  margin-left: 80px;
	}
  }
}
.footer-copyright{
  background-color: $accent;
  height: 48px;
  position: absolute;
  bottom: 0;
  width: 100%;
  .copyright{
	list-style-type: none;
	display: flex;
	padding: 0;
	margin: 0;
	justify-content: center;
	align-items: center;
	height: 100%;
  }
  .copyright__link{
	font-size: 14px;
	color: #fff;
	&:after{
	  content: "|";
	  margin-left: 5px;
	  margin-right: 5px;
	}
  }
  .copyright__item:last-child .copyright__link:after{
	display: none;}
}



.empty{
	height: 694px;
}
/*extends*/
.button{
  background-color: $green;
  border: none;
  padding: 0;
  margin: 0;
  min-height: 41px;
  line-height: 41px;
  min-width: 41px;
  color: #fff;
  cursor: pointer;
  z-index: 9;
  padding-left: 21px;
  padding-right: 21px;
  &:active, &:hover, &:focus{
	outline: 0;
	z-index: 9;
  }
  &:active{
	box-shadow: 0px 3px 7px 0 rgba(0, 0, 0, 0.16);
  }
}

.button-search{
	display: flex;
	justify-content: center;
	align-items: center;
	&:after{
	  content: "";
	  display: block;
	  background-image: url("../img/icons/search.png");
	  height: 24px;
	  width: 24px;
	  background-repeat: no-repeat;
	  background-size: contain;
	}
	&:focus, &:active{
		outline: none;
	}
}
.text-blue{
  color: $accent;
}
.input-text{
  border: solid 1px #e8ecef;
  height: 40px;
}

.parameters-color{
  display: flex;
  align-items: center;
  margin-bottom: 21px;
  input[type='checkbox'],input[type='radio']{
	display: none;
  }
  .color-label{
	cursor: pointer;
	margin-bottom: 0;
  }
  .color-label:last-child{
	cursor: pointer;
	margin-right: 25px;
  }
  input:checked +.color-tool{
	border: 1px solid #858f92;
  }
  .colors-wrap{
	display: inline-flex;
	align-items: center;
	margin-right: 10px;
	.color-header{
	  font-size: 14px;
	  color: $accent;
	  margin-right: 10px;
	}
  }
  .color-tool{
	height: 26px;
	width: 27px;
	display: block;
	border-radius: 50%;
	position: relative;
	&:after{
	  content: "";
	  background-color: #ff0000;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  height: 20px;
	  width: 20px;
	  border-radius: 50%;
	  transform: translate(-50%, -50%);
	}
	&.bgc-red{
	  &:after{
		background-color: #e44041;
	  }
	}
	&.bgc-marron{
	  &:after{
		background-color: #dc660f;
	  }
	}
	&.bgc-purple{
	  &:after{
		background-color: #f080b2;
	  }
	}
	&.bgc-violet{
	  &:after{
		background-color: #8b55a2;
	  }
	}
	&.bgc-green{
	  &:after{
		background-color: #478f39;
	  }
	}
	&.bgc-yellow{
	  &:after{
		background-color: #e6de32;
	  }
	}
  }
  &__text{
	font-size: 14px;
	color: #858f92;
  }
}
.parameters-color .color-label:last-child{
  display: none !important;
}
.menu-ex{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.articles-header{
  display: inline;
  position: relative;
  margin: 0;
  padding: 0;
  z-index: 2;
  padding-bottom: 5px;
  padding-right: 10px;
  background: #fff;
  font-size: 36px;
  color: $accent;
  font-weight: normal;
  &-wrap{
	display: flex;
	position: relative;
	.slick-panel{
	  position: absolute;
	  right: 0;
	  bottom: 17px;
	  width: 70px;
	  height: 30px;
	  display: flex;
	  justify-content: space-between;
	  button{
		background-color: #f3f5f7;
		display: block;
		border: none;
		width: 30px;
		height: 30px;
		background-repeat: no-repeat;
		&:focus{
		  outline: 0;
		}

	  }
	  .next-slide{
		background-image: url("../img/icons/arrow-right-green-trans.png");
	  }
	  .prev-slide{
		background-image: url("../img/icons/arrow-left-green-trans.png");
	  }
	}
	.header-border{
	  height: 1px;
	  background: #e8ecef;
	  width: 100%;
	  position: absolute;
	  bottom: 16px;
	}
	.header-border--green{
	  background: #a7c363;
	  height: 1px;
	  width: 100%;
	  position: absolute;
	  bottom: 16px;
	}
  }
}

.payment{
  @extend .menu-ex;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  justify-content: space-between;
  width: 170px;
  .payment-link{
	display: block;
	cursor: pointer;
  }
  .visa{
	background-image: url("../img/icons/visa.png");
	background-size: contain;
	width: 45px;
	height: 15px;
	background-repeat: no-repeat;
  }
  .master-card{
	background-image: url("../img/icons/mc.png");
	background-size: contain;
	width: 48px;
	height: 29px;
	background-repeat: no-repeat;
  }
  .paypal{
	background-image: url("../img/icons/pp.png");
	background-size: contain;
	width: 50px;
	height: 14px;
	background-repeat: no-repeat;
  }
}
.slick-panel {
  width: 70px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  button {
	background-color: #f3f5f7;
	display: block;
	border: none;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	&:focus {
	  outline: 0;
	}

  }
  .next-slide {
	background-image: url("../img/icons/arrow-right-green-trans.png");
  }
  .prev-slide {
	background-image: url("../img/icons/arrow-left-green-trans.png");
  }
}

.scroll-to-top {
  position: fixed;
  height: 47px;
  width: 47px;
  background-image: url(../img/icons/arrow-right2.png);
  background-repeat: no-repeat;
  background-position: center;
  bottom: 44px;
  right: 44px;
  z-index: 99;
}
.counter{
  width: 20px;
  height: 100%;
  max-height: 80px;
  position: relative;
  min-width: 60px;
  border: 1px solid #d7dee3;
  border-bottom: none;
  border-top: none;
  display: flex;
  align-items: center;
  .counter-in{
	height: 30px;
	width: 60px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	border: none;
	color: #3f4345;
	font-size: 16px;
  }
  .counter-plus,.counter-minus{
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	background: transparent;
	border: none;
	width: 100%;
	height: 11px;
	background-repeat: no-repeat;
	background-position: center;
	&:active, &:focus{
	  outline: 0;
	}
  }
  .counter-plus{
	top: 6px;
	background-image: url("../img/icons/arrow-up.png");
  }
  .counter-minus{
	bottom: 6px;
	background-image: url("../img/icons/arrow-down.png");
  }
}

//***********************************************************************panel-nav
.panel-nav{
  right: 0;
  bottom: 17px;
  width: 70px;
  height: 30px;
  display: flex;
  justify-content: space-between;
  button{
	background-color: #f3f5f7;
	display: block;
	border: none;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	&:focus{
	  outline: 0;
	}

  }
  .next-slide{
	background-image: url("../img/icons/arrow-right-green-trans.png");
  }
  .prev-slide{
	background-image: url("../img/icons/arrow-left-green-trans.png");
  }
}
@import "media"; // Always at the end
