.new-item{
.header-item{
    height: 456px;
    overflow: hidden;

    .header-item__slider-wrap{
        min-width: 366px;
        width: 32%;

    }
    .header-item__slider-slide{

    }
    .header-item__main-info{
        width: 36%;
        min-width: 420px;
        border-left: 1px solid #e8ecef;
        border-right: 1px solid #e8ecef;
        padding: 35px 27px;
    }
    .header-item__name{
        font-family: "bpg-supersquare-2013", sans-serif;
        font-size: 36px;
        line-height: 48px;
        letter-spacing: 0.36px;
        color: #3f4345;
        font-weight: 600;
        margin-bottom: 38px;
        height: 100px;
    }
    .header-item__code,.header-item__quantities{
        font-family: "bpg-supersquare-2013", sans-serif;
        font-size: 16px;
        line-height: 16px;
        letter-spacing: 0.16px;
        font-weight: bold;
        .text-blue{
            color: #235a90;
        }
    }
    .header-item__deliver{
        margin-top: 38px;
        .deliver-header{
            display: block;
            color: #a7c363;
            margin-top: 10px;
            font-size: 16px;
        }
        .deliver-terms{
            font-size: 16px;
            color: #3f4345;
            font-weight: bold;
        }
    }
    .header-item__select-block{
        padding: 38px 45px 38px 25px;
        position: relative;
        .item-price{
            color: #a7c363;
            font-size: 48px;
            margin-bottom: 45px;
            height: 100px;
            overflow: hidden;
        }
        .parameters-color .color-tool:after{
            width: 25px;
            height: 25px;
            margin-right: 10px;
        }
        /*.color-tool.selected{
            border: 1px solid #858f92;
            padding: 5px;
            border-radius: 50%;
            width: 31px;
            height: 31px;
        }*/
        .color-header{
            font-size: 16px;
            font-weight: bold;
        }
        .header-item__add{
            display: flex;
            justify-content: center;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            height: 62px;
            background-color: #235a90;
            align-items: center;
            &:before{
                content: " ";
                display: block;
                width: 24px;
                height: 26px;
                background-image: url("../img/icons/cart.png");
                background-size: contain;
                background-repeat: no-repeat;
                margin-right: 15px;
                top: -4px;
                position: relative;
                
            }
;
        }
    }
    .parameters-color .color-tool{
        margin-right: 8px;
    }
    .counter-block{
        color: #235a90;
        font-weight: bold;
        margin-top: 44px;
        display: flex;
        align-items: center;
    }
    .counter{
        margin-left: 29px;
        position: static;
        border: none;
        display: inline-flex;
        width: auto;
        justify-content: space-between;
        border: solid 1px #eef1f3;
        width: 183px;
        height: 60px;
        .counter-plus{
            position: static;
            order: 3;
            transform: rotate(90deg);
            cursor: pointer;
            height: 50px;
        }
        .counter-in{
            order: 2;
        }
        .counter-minus{
            position: static;
            order: 1;
            transform: rotate(90deg);
            cursor: pointer;
            height: 50px;
        }
    }
}
.articles-header-names,.articles-header-item{
    padding: 0;
    margin: 0;
    li{
        margin: 0;
        padding: 0;
        margin-right: 40px;
    }
}
.articles-header-item{
    display: inline-block;
    cursor: pointer;
}
.specefication{
    margin-top: 47px;
    padding-top: 32px;
}
.specefication .articles-header-wrap{
    margin: 0;padding: 0;
}
.specefication .articles-header {
    font-size: 24px;
    color: #235a90;
    text-align: center;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 8px;
    border: none;
}
.specefication .articles-header.active{
    border-bottom: 2px solid #235a90;
}
.specefication .articles-header-wrap .header-border{
    bottom: -1px;
}
.header-item .header-item__select-block{
    background-color: #fff;
    overflow: hidden;
}
.specefication__list{
    display: none;
    &.selected{
        display: block;
    }
    li{
        height: 37px;
        display: flex;
        align-items: center;
        font: 14px "bpg-supersquare-2013", sans-serif;
        padding-left: 21px;
        padding-right: 21px;
    }
    li:nth-child(2n+1){
        background-color: #eef1f3;
    }
    .specefication__item{
        margin-top: 0;
        margin-bottom: 0;
    }
}
.articles-header-names, .articles-header-item{
    margin-bottom: 47px;
}
.specefication__param{
    color: #235a90;
    font-weight: bold;
    width: 150px;
}
.item__tools{
    width: 116px;
    height: 115px;
    top: -5px;
    left: -10px;
    .item__tool{
        background: none;
    }
    .blue-label{
        background-image: url("../img/icons/lable-blue.png");
    }
    .green-label{
        background-image: url("../img/icons/lable-green.png");
    }
    .orange-label{
        background-image: url("../img/icons/lable-orange.png");
    }
    .purple-label{
        background-image: url("../img/icons/lable-purple.png");
    }
}
.offers .item{
    overflow: visible;
    margin-top: 10px;
}
.offers .articles-wrap{
    margin-top: 24px;
}
.header-item__slider-slide{
    width: 91px;
    height: 91px;
}
.header-item__main-pic{
    padding: 0;
}
.header-item__slider-wrap{
    padding-left: 0;
    padding-top: 0;
}
.header-item{
    overflow: visible;
}
.header-item__main-pic{
    position: relative;
    &:after{
        display: block;
        content: "";
        position: absolute;
        width: 116px;
        height: 115px;
        top: -5px;
        left: -10px;
    }
    &.blue-label:after{
        background-image: url("../img/icons/lable-blue.png");
    }
    &.green-label:after{
        background-image: url("../img/icons/lable-green.png");
    }
    &.orange-label:after{
        background-image: url("../img/icons/lable-orange.png");
    }
    &.purple-label:after{
        background-image: url("../img/icons/lable-purple.png");
    }
}
    .colors-wrap .color-tool{
        &.selected{
            position: relative;
            border: 1px solid #858f92;
            &:after{
                content: "";
                display: block;
                position: absolute;
                width: 20px !important;
                height: 20px !important;
                
                border-radius: 50%;
                width: 100%;
                height: 100%;
            }
        }
    }
    
@media (max-width: 1199.99px) {
    .header-item .header-item__slider-wrap{
        min-width: 280px;
    }
    .header-item .header-item__main-info{
        min-width: 370px;
    }
    .header-item .header-item__select-block{
        min-width: 200px;
    }
}
}
@media (max-width: 1023.99px){
    .new-item{
    .header-item{
        height: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .header-item .header-item__slider-wrap {
        min-width: 50%;
        margin: 0;
        margin-left: 7px;
    }
    .header-item__slider-slide {
        width: 91px !important;
        height: 91px;
        max-width: 91px;
        border: none;
    }
    .header-item .header-item__main-info{
        border: none;
    }
    .header-item .header-item__select-block .header-item__add{
        position: static;
    }
    .header-item .header-item__select-block{
        text-align: center;
        width: 100%;
    }
    .header-item__slider{
        position: static;
        margin-top: 2px;
    }
    .parameters-color{
        justify-content: center;
    }
    .header-item__main-pic:after{
        z-index: 9999999999999999;
    }
    .header-item .counter-block{
        justify-content: center;
        margin-bottom: 10px;
    }
    .parameters-color{
        margin-bottom: 0;
    }
    .header-item .header-item__select-block .item-price{
        margin-bottom: 0;
    }
    .header-item .header-item__select-block{
        padding-top: 0;
    }
    .header-item__slider-wrap{
        padding-bottom: 21px;
    }
    .header-item .counter-block{
        margin-top: 24px;
    }
    }
}
@media (max-width: 1023.99px){
    .new-item{
    .header-item {
        justify-content: center;
    }
    .header-item .header-item__select-block .header-item__add{
        width: 300px;
        margin: 30px auto 10px;
    }
    .header-item__slider-slide {
        width: auto !important;
        height: auto;
        max-width: 91px;
        border: none;
    }
    .header-item .header-item__slider-wrap {
        min-width: 100%;
        margin: 0;
        margin-left: 7px;
        padding: 4px;
    }
    .header-item__slider{
        height: 91px;
    }
    .header-item__main-pic:after {
        top: -8px;
        left: -10px;
    }
    &.wrapper{
        overflow-x: hidden;
    }
    .specefication .articles-header{
        font-size: 18px;
    }
    .specefication{
        margin-top: 0;
    }
    .header-item .header-item__select-block{
        padding: 0;
        margin: 0;
    }
    .parameters-color .colors-wrap{
        flex-wrap: wrap;
        margin: 0;
        justify-content: center;
    }
    .header-item .header-item__select-block .color-header{
        width: 100%;
    }
    .offers{
        margin-bottom: 0;
    }
    .header-item .header-item__main-info {
        border: none;
        padding-left: 5px;
        padding-right: 5px;
        min-width: 320px;
    }
        .header-item__slider-slide {
            width: 150px !important;
            height: 150px !important;
            max-width: 150px;
            border: none;
        }
        .header-item__slider{
            height: 150px;    
        }
    }
    .footer.new-item{
        margin-top: -700px;
    }
}
@media (max-width: 670.99px){
    .new-item{
    .header-item__slider-slide {
            width: 90px !important;
            height: 90px !important;
            max-width: 90px;
            border: none;
        }
    .header-item__slider{
            height: 90px;    
        }
    }
}
.footer{
    margin-top: -700px;
}
.parameters-color .colors-wrap {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin-right: 10px;
    .color-tool{
        margin-bottom: 8px;
    }
}
.new-item .header-item .header-item__slider-wrap .temp-popup{
    position: relative;
    &:after{
        content: "";
        position: absolute;
        bottom: 17px;
        right: 10px;
        display: block;
        width: 35px;
        height: 35px;
        background-image: url("../img/icons/zoom.svg");
        z-index: 99;
        background-repeat: no-repeat;
        background-position: center;
        background-color: #fff;
        box-shadow: -0.6px 5px 10px 0 rgba(145, 153, 158, 0.23);
    }
}
.header-item__slider .slick-next:before{
    background-image: url("../img/icons/arrow-right-trans.png");
}
.header-item__slider .slick-next,.header-item__slider .slick-prev{
    height: 35px;
    width: 35px;
}
.header-item__slider .slick-next:before, .header-item__slider .slick-prev:before{
    height: 35px;
    width: 35px;
}
.header-item__slider{
    height: 92px;
}
.new-item .header-item{
    height: auto;
}
.new-item .header-item .header-item__name,.new-item .header-item .header-item__select-block .item-price{
    min-height: 100px;
    height: auto;
}
.new-item .header-item .counter-block{
    margin-bottom: 50px;
}
.item-price.price-old{
    margin-bottom: 0;
    text-decoration: line-through;
    height: auto !important;
    min-height: 0 !important;
    margin-bottom: 0 !important;
}
.item-price-disc{
    margin-top: -45px;
    text-align: right;
    margin-bottom: 45px;
    color: #858f92;
    font-size: 24px;
}